Repository Chelny/e-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:css --fix, prettier --write, pnpm run lint:ts --fix

.lintstagedrc:

{
  "client/app/**/*.css": [
    "pnpm run lint:css --fix",
    "prettier --write"
  ],
  "client/app/**/*.tsx": [
    "pnpm run lint:ts --fix",
    "prettier --write"
  ]
}

feat: login form validation (incomplete)
  client/app/[locale]/(auth)/login/login.actions.ts
  client/app/[locale]/(auth)/login/login.form.tsx
  client/app/[locale]/(auth)/login/page.tsx
  client/app/[locale]/(shop)/shop/new-arrivals/page.tsx
  client/app/[locale]/(shop)/shop/page.tsx
  client/app/[locale]/(shop)/shop/popular/page.tsx
  client/app/[locale]/(shop)/shop/sale/page.tsx
  client/app/[locale]/_components/BannerCarousel.tsx
  client/app/[locale]/_components/Breadcrumbs.tsx
  client/app/[locale]/_components/Cart.tsx
  client/app/[locale]/_components/ChangeLocale.tsx
  client/app/[locale]/_components/Currency.tsx
  client/app/[locale]/_components/Footer.tsx
  client/app/[locale]/_components/Header.tsx
  client/app/[locale]/_components/ItemCard.module.css
  client/app/[locale]/_components/ItemCard.tsx
  client/app/[locale]/_components/ItemCarousel.skeleton.tsx
  client/app/[locale]/_components/ItemCarousel.tsx
  client/app/[locale]/_components/ItemImageGallery.tsx
  client/app/[locale]/_components/ItemsGrid.tsx
  client/app/[locale]/_components/Skeleton.tsx
  client/app/[locale]/_lib/authentication.ts
  client/app/[locale]/_lib/constants.ts
  client/app/[locale]/_lib/definition/global.d.ts
  client/app/[locale]/_lib/definition/page.d.ts
  client/app/[locale]/_lib/site-map.ts
  client/app/[locale]/components/ProductCarousel.skeleton.tsx
  client/app/[locale]/layout.tsx
  client/app/[locale]/not-found.tsx
  client/app/[locale]/page.tsx
  client/app/i18n/client.ts
  client/app/i18n/i18n.ts
  client/app/i18n/locales/en-CA/shop.json
  client/app/i18n/locales/en-US/shop.json
  client/app/i18n/locales/fr-CA/shop.json
  client/package.json
  client/pnpm-lock.yaml
Due: pnpm run lint:css --fix, prettier --write, pnpm run lint:ts --fix

feat(validation): login and sign up (incomplete)
  client/app/[locale]/(auth)/forgot-password/page.tsx
  client/app/[locale]/(auth)/login/login.actions.ts
  client/app/[locale]/(auth)/login/login.form.tsx
  client/app/[locale]/(auth)/login/page.tsx
  client/app/[locale]/(auth)/reset-password/page.tsx
  client/app/[locale]/(auth)/sign-up/page.tsx
  client/app/[locale]/(auth)/sign-up/sign-up.actions.ts
  client/app/[locale]/(auth)/sign-up/sign-up.form.tsx
  client/app/[locale]/_components/FieldErrorMessage.tsx
  client/app/[locale]/_components/FieldHintMessage.tsx
  client/app/[locale]/_lib/constants.ts
  client/app/[locale]/_lib/definition/global.d.ts
  client/app/[locale]/_lib/definition/page.d.ts
  client/app/globals.css
  client/app/i18n/client.ts
  client/app/i18n/i18n.ts
  client/app/i18n/index.ts
  client/app/i18n/locales/en-CA/authentication.json
  client/app/i18n/locales/en-CA/common.json
  client/app/i18n/locales/en-CA/form.json
  client/app/i18n/locales/en-US/authentication.json
  client/app/i18n/locales/en-US/common.json
  client/app/i18n/locales/en-US/form.json
  client/app/i18n/locales/fr-CA/authentication.json
  client/app/i18n/locales/fr-CA/common.json
  client/app/i18n/locales/fr-CA/form.json
  client/next.config.js
  client/package.json
  client/pnpm-lock.yaml
Due: pnpm run lint:css --fix, prettier --write, pnpm run lint:ts --fix

feat(validation): add form validation in login, sign up, forgot password and reset password pages
  client/app/[locale]/(auth)/forgot-password/forgot-password.actions.ts
  client/app/[locale]/(auth)/forgot-password/forgot-password.form.tsx
  client/app/[locale]/(auth)/forgot-password/page.tsx
  client/app/[locale]/(auth)/reset-password/page.tsx
  client/app/[locale]/(auth)/reset-password/reset-password.actions.ts
  client/app/[locale]/(auth)/reset-password/reset-password.form.tsx
  client/app/[locale]/(auth)/sign-up/sign-up.actions.ts
  client/app/i18n/locales/en-CA/form.json
  client/app/i18n/locales/en-US/form.json
  client/app/i18n/locales/fr-CA/form.json
  client/next.config.js
  client/package.json
  client/pnpm-lock.yaml
Due: prettier --write, pnpm run lint:ts --fix

feat: backend implementation on sign up form
  README.md
  client/.env.local.example
  client/app/[locale]/(auth)/login/api/route.ts
  client/app/[locale]/(auth)/login/login.actions.ts
  client/app/[locale]/(auth)/sign-up/api/route.ts
  client/app/[locale]/(auth)/sign-up/sign-up.actions.ts
  client/app/[locale]/_lib/constants.ts
  client/app/[locale]/_lib/definition/global.d.ts
  server/.env.example
  server/common/__init__.py
  server/common/utils.py
  server/order_api/urls.py
  server/order_api/views.py
  server/product_api/urls.py
  server/product_api/views.py
  server/server/settings.py
  server/server/urls.py
  server/user_api/migrations/0002_alter_customuser_updated_at.py
  server/user_api/migrations/0003_alter_customuser_updated_at.py
  server/user_api/models.py
  server/user_api/serializers.py
  server/user_api/tests.py
  server/user_api/urls.py
  server/user_api/views.py
Due: none

feat: add theme switch button, complete login form
  README.md
  client/app/[locale]/(auth)/login/api/route.ts
  client/app/[locale]/(auth)/login/login.actions.ts
  client/app/[locale]/(auth)/login/login.form.tsx
  client/app/[locale]/(shop)/shop/page.tsx
  client/app/[locale]/_components/BannerCarousel.tsx
  client/app/[locale]/_components/Header.tsx
  client/app/[locale]/_components/ui/alert.tsx
  client/app/[locale]/_components/ui/button.tsx
  client/app/[locale]/_components/ui/dropdown-menu.tsx
  client/app/[locale]/_lib/utils.ts
  client/app/[locale]/_providers/theme-provider.tsx
  client/app/[locale]/layout.tsx
  client/app/globals.css
  client/app/i18n/locales/en-CA/common.json
  client/app/i18n/locales/en-CA/form.json
  client/app/i18n/locales/en-US/common.json
  client/app/i18n/locales/en-US/form.json
  client/app/i18n/locales/fr-CA/common.json
  client/app/i18n/locales/fr-CA/form.json
  client/components.json
  client/package.json
  client/pnpm-lock.yaml
  client/tailwind.config.ts
  server/common/utils.py
  server/order_api/urls.py
  server/order_api/views.py
  server/product_api/urls.py
  server/product_api/views.py
  server/server/settings.py
  server/user_api/urls.py
  server/user_api/views.py
Due: pnpm run lint:css --fix, prettier --write, pnpm run lint:ts --fix

feat: add toast and localize not found page
  client/app/[locale]/(auth)/forgot-password/forgot-password.actions.ts
  client/app/[locale]/(auth)/forgot-password/forgot-password.form.tsx
  client/app/[locale]/(auth)/forgot-password/page.tsx
  client/app/[locale]/(auth)/layout.tsx
  client/app/[locale]/(auth)/login/login.actions.ts
  client/app/[locale]/(auth)/login/login.form.tsx
  client/app/[locale]/(auth)/login/page.tsx
  client/app/[locale]/(auth)/reset-password/page.tsx
  client/app/[locale]/(auth)/reset-password/reset-password.actions.ts
  client/app/[locale]/(auth)/reset-password/reset-password.form.tsx
  client/app/[locale]/(auth)/sign-up/page.tsx
  client/app/[locale]/(auth)/sign-up/sign-up.actions.ts
  client/app/[locale]/(auth)/sign-up/sign-up.form.tsx
  client/app/[locale]/[...not_found]/page.tsx
  client/app/[locale]/_components/Breadcrumbs.tsx
  client/app/[locale]/_lib/constants.ts
  client/app/[locale]/_providers/toast-provider.tsx
  client/app/[locale]/layout.tsx
  client/app/[locale]/not-found.tsx
  client/app/i18n/locales/en-CA/common.json
  client/app/i18n/locales/en-US/common.json
  client/app/i18n/locales/fr-CA/common.json
  client/tailwind.config.ts
  server/locale/en_CA/LC_MESSAGES/django.po
  server/locale/en_US/LC_MESSAGES/django.po
  server/locale/fr_CA/LC_MESSAGES/django.po
  server/user_api/views.py
Due: prettier --write, pnpm run lint:ts --fix

feat: Infinite scroll on /shop pages
  client/app/[locale]/(shop)/shop/api/route.ts
  client/app/[locale]/(shop)/shop/loading.tsx
  client/app/[locale]/(shop)/shop/new-arrivals/api/route.ts
  client/app/[locale]/(shop)/shop/new-arrivals/loading.tsx
  client/app/[locale]/(shop)/shop/new-arrivals/page.tsx
  client/app/[locale]/(shop)/shop/page.tsx
  client/app/[locale]/(shop)/shop/popular/loading.tsx
  client/app/[locale]/(shop)/shop/popular/page.tsx
  client/app/[locale]/(shop)/shop/sales/loading.tsx
  client/app/[locale]/(shop)/shop/sales/page.tsx
  client/app/[locale]/_components/ProductCard.module.css
  client/app/[locale]/_components/ProductCard.skeleton.tsx
  client/app/[locale]/_components/ProductsGrid.tsx
  client/app/[locale]/loading.tsx
  client/package.json
  client/pnpm-lock.yaml
  server/product_api/views.py
Due: pnpm run lint:css --fix, prettier --write, pnpm run lint:ts --fix

feat: Add prisma seed file
  .env.example
  README.md
  app/[locale]/(shop)/shop/api/route.ts
  app/[locale]/(shop)/shop/page.tsx
  app/[locale]/_components/Cart.tsx
  app/[locale]/_components/ProductReviewStars.tsx
  package.json
  pnpm-lock.yaml
  prisma/seed.ts
  sql/001_product_category_data.sql
  sql/002_product_data.sql
  sql/003_product_inventory_data.sql
  sql/004_product_discount_data.sql
  sql/005_product_review_data.sql
Due: none

fix: string must be in double quotes
  app/[locale]/_components/ProductCard.tsx
Due: none

fix: Hide product review form for unauthenticated users
  README.md
  app/[locale]/(auth)/forgot-password/forgot-password.actions.ts
  app/[locale]/(auth)/forgot-password/forgot-password.form.tsx
  app/[locale]/(auth)/login/login.actions.ts
  app/[locale]/(auth)/login/login.form.tsx
  app/[locale]/(auth)/reset-password/reset-password.form.tsx
  app/[locale]/(auth)/sign-up/sign-up.form.tsx
  app/[locale]/(shop)/shop/api/route.ts
  app/[locale]/(shop)/shop/page.tsx
  app/[locale]/(shop)/shop/product-review.form.tsx
  app/[locale]/_components/Alert.module.css
  app/[locale]/_components/Alert.tsx
  app/[locale]/_components/Cart.tsx
  app/[locale]/_components/ChangeLocale.tsx
  app/[locale]/_components/Header.module.css
  app/[locale]/_components/Header.tsx
  app/[locale]/_components/ProductReviewStars.tsx
  app/[locale]/_core/enums.ts
  app/globals.css
  app/i18n/locales/en-CA/form.json
  app/i18n/locales/en-CA/shop.json
  app/i18n/locales/en-US/form.json
  app/i18n/locales/en-US/shop.json
  app/i18n/locales/fr-CA/form.json
  app/i18n/locales/fr-CA/shop.json
Due: none

feat: Use shadcn/ui dropdown for languages dropdown and make header icons bigger
  app/[locale]/_components/Avatar.tsx
  app/[locale]/_components/ChangeLocale.tsx
  app/[locale]/_components/Header.module.css
  app/[locale]/_components/Header.tsx
  components.json
  next.config.js
Due: none

fix: Input mask fixes
  app/[locale]/(auth)/sign-up/sign-up.actions.ts
  app/[locale]/_components/InputMask.tsx
  app/[locale]/_hooks/useInputMask.ts
  app/[locale]/_lib/utils.ts
  app/[locale]/account/profile/api/route.ts
  app/[locale]/account/profile/profile.actions.ts
  app/[locale]/account/profile/profile.form.tsx
  app/[locale]/account/settings/page.tsx
  app/globals.css
  app/i18n/locales/en-CA/form.json
  app/i18n/locales/en-US/form.json
  app/i18n/locales/fr-CA/form.json
  tailwind.config.ts
Due: none

feat: Replace shadcn/ui to radixui and separate globals.css content in multiple files
  app/[locale]/_components/ChangeLocale.tsx
  app/[locale]/_components/FieldHintMessage.tsx
  app/[locale]/_components/Footer.tsx
  app/[locale]/_components/Header.module.css
  app/[locale]/_components/Header.tsx
  app/[locale]/_components/ProductCarousel.tsx
  app/[locale]/_components/ui/alert.tsx
  app/[locale]/_components/ui/avatar.tsx
  app/[locale]/_components/ui/button.tsx
  app/[locale]/_components/ui/dropdown-menu.tsx
  app/[locale]/_components/ui/popover.tsx
  app/[locale]/_core/constants.ts
  app/[locale]/_lib/utils.ts
  app/[locale]/account/profile/profile.form.tsx
  app/globals.css
  app/i18n/locales/en-CA/form.json
  app/i18n/locales/en-US/form.json
  app/i18n/locales/fr-CA/form.json
  app/styles/base.css
  app/styles/button.css
  app/styles/form.css
  app/styles/misc.css
  app/styles/typography.css
  app/styles/ui/avatar.css
  app/styles/ui/dropdown.css
  app/styles/ui/popover.css
  app/styles/variables.css
  components.json
  package.json
  pnpm-lock.yaml
  tailwind.config.ts
Due: none

feat: Add skeleton templates to product page
  app/[locale]/(shop)/shop/page.tsx
  app/[locale]/(shop)/shop/product/[product]/ProductInfo.skeleton.tsx
  app/[locale]/(shop)/shop/product/[product]/ProductRecommendations.skeleton.tsx
  app/[locale]/(shop)/shop/product/[product]/ProductReviews.skeleton.tsx
  app/[locale]/(shop)/shop/product/[product]/page.tsx
  app/[locale]/_components/ChangeLocale.tsx
  app/[locale]/_components/ProductCard.skeleton.tsx
  app/[locale]/_components/ProductCard.tsx
  app/[locale]/_components/ProductCarousel.skeleton.tsx
  app/[locale]/_components/ProductCarousel.tsx
  app/[locale]/_components/ProductRatingProgressBars.skeleton.tsx
  app/[locale]/_components/ProductRatingProgressBars.tsx
  app/[locale]/_components/ProductRatingStars.skeleton.tsx
  app/[locale]/_components/ProductRatingStars.tsx
  app/[locale]/_components/ProductReviewStars.tsx
  app/[locale]/_components/Skeleton.tsx
  app/[locale]/_core/routes.ts
  types/global.d.ts
Due: none

fix(product carousel): slides per view
  app/[locale]/_components/ProductCard.module.css
  app/[locale]/_components/ProductCard.skeleton.tsx
  app/[locale]/_components/ProductCard.tsx
  app/[locale]/_components/ProductCarousel.tsx
  app/i18n/locales/fr-CA/shop.json
Due: none

feat: Product cart skeleton
  app/[locale]/(shop)/shop/product/[product]/ProductInfo.skeleton.tsx
  app/[locale]/(shop)/shop/product/[product]/page.tsx
  app/[locale]/_components/Cart.skeleton.tsx
  app/[locale]/_components/Cart.tsx
  app/[locale]/_components/Footer.tsx
  app/[locale]/_components/Header.module.css
  app/[locale]/_components/Header.tsx
  app/[locale]/_components/ProductCard.module.css
  app/[locale]/_components/ProductCard.tsx
  app/[locale]/_components/ProductImageGallery.skeleton.tsx
  app/[locale]/_components/ProductImageGallery.tsx
  app/[locale]/_hooks/useInputMask.ts
  app/[locale]/_lib/utils.ts
  app/[locale]/layout.tsx
Due: none
